*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.618;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.header,
.main,
.footer {
  width: min(calc(100vw - 2rem), 100ch);
  margin-left: auto;
  margin-right: auto;
}

.header,
.footer {
  padding: 1rem 0;
  text-align: center;
}

.branding {
  color: hsl(219, 64%, 35%);
}

.main {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin: 2rem auto;
}

.users,
.user-info {
  border: 2px solid hsl(219, 64%, 35%);
}

.users {
  flex: 1 1 35ch;
  padding: 1rem 0;
}

.users__title,
.users__instructions {
  padding: 0 1rem;
}

.users-list {
  list-style-type: none;
  margin-top: 1rem;
}

.users-list__link {
  display: block;
  padding: 0.2rem 1rem;
  color: hsl(219, 64%, 35%);
}

.users-list__link:hover,
.users-list__link:focus {
  background: hsl(219, 64%, 35%);
  color: #fff;
}

.users-list__link:active {
  text-decoration: none;
}

.users-list__link.active {
  background: hsl(219, 64%, 25%);
  color: #fff;
  text-decoration: none;
}

.user-info {
  flex: 1 1 60ch;
  padding: 1rem;
}

.user-info__title {
  margin-bottom: 1rem;
}

.user-info__label {
  font-weight: 600;
  margin-top: 1rem;
}

.copyright {
  font-size: 0.9rem;
}
